#carousel-flota{
	position:relative;
	overflow:auto;
	.carousel-indicators{
		margin:0;
		left: 30px;
		top: auto;
		bottom:40px;

		.active{
			margin-bottom:40px;
		}
	}
}

.second_title{
	background:rgba(253,203,75,0.5);
	padding:5px;
	position: relative;
	top:-37px;
	padding-left:30px;
	font-size: 20px;
}
.page-template-page-flota .single-page-content, .page-template-page-flecha-bus .single-page-content{
	margin-top:-37px;

		ul{
			li{
				float:left;
				img{
					float:left;


				}

				.texto{
					float:left;
					width:60%;
					border-left:2px dotted $allo;
					padding-bottom: 20px;
					margin-top:20px;
					padding-left: 35px;
					padding-right: 50px;
				}
			}
		}
	
}

.page-template-page-flota #main li{
	margin-bottom: 40px;
	padding-left:0;

	img{
		margin-right: 4%;
   		margin-left: 2%;
   		&.alignnone{
						margin:0;
					}
	}
}

@media only screen and (max-width: 768px) {
		.second_title{
			top:0;
		}

		.page-template-page-flota .single-page-content ul li .texto, .page-template-page-flecha-bus .single-page-content ul li .texto{
			width: 100%;
		}

		.page-template-page-flota .navbar  li{
			margin-bottom:0;
		}

		.page-template-page-flota .carousel{
		}


		#carousel-flota .item{
			

		}

	.page-nuestra-flota .contenido-page{
		padding-top:50px;
	}

	#carousel-flota .carousel-indicators{
		bottom:0px;
		li{
			margin-bottom: 0;
			width: 12px;
			height: 12px;

			&.active{
				margin-bottom: 0;
			}
		}
	}
}

.page-template-page-flota .contenido-page ul li{

	display: table;
	width: 100%;

		img{
			display: table-cell;
			vertical-align: middle;
		}

		div.texto{
			display:table-cell;
			float:none;
			width: 67%;
			vertical-align: middle;
		}

}

@media only screen and (max-width: 768px) {
	.page-template-page-flota #main .contenido-page ul{
		margin-top:10px;
	}
		.page-template-page-flota #main .contenido-page ul li{
			div.texto{
				width: 100%;
				display: block;
				padding-top:10px;
				border-left:none;
				border-bottom: 2px dotted $allo;
				float: left;
			}

			img{
				width: 86%;
				margin-left:auto;
				margin-right: auto;
				display: block;
				float: none;

				&.wp-image-165{
						float:left;
					}
			}
		}

		.page-template-page-flota #main .contenido-page ul li:nth-child(3) .texto{
					border-bottom:none;
				}
}