#botonera-servicios{
	padding-top:35px;
	a{
		display: block;
		width: 100%;
		text-align: center;
		img{
			max-width: 100%;
			display: block;
		    margin-left: auto;
		    margin-right: auto;
		    width: 46px;
			height: auto;
			margin-bottom: 10px;
		}
	}

	h2{
		margin:0;
		padding: 0;
		font-size: 25px;
		font-weight: bold;
		color: #000;
		text-transform: uppercase;
		line-height: 24px;
		margin-bottom: 8px;

	}

	h3{
		margin:0;
		padding: 0;
		font-size: 20px;
		color:#706f6f;
		text-transform: uppercase;
	}
	
	.col-md-4:nth-child(2){
		border-left:2px solid #e5e5e5;
		border-right:2px solid #e5e5e5;
	}

	.col-md-4{
		padding-bottom: 20px;
	}
}

.main-servicios-wrapper{
	background:#3b3b3a;
	overflow:auto;
	li{
		border-bottom:1px solid #606060;
		list-style: none;

		&:before{
			display:none;
		}
	}
	h3{
		a{
			text-transform: uppercase;
			color: #FFF;
			font-size:20px;
		}
	}

	p{
		a{
			color: $allo;
		}
	}
}

.pestania-baja{
	background: url(images/back-pestania.jpg);
	width: 134px;
	height: 28px;
	text-align: center;
	font-size: 10px;
	color: #000;
	line-height: 26px;
	margin-left: auto;
	margin-right: auto;
}

.servicios-navbar {
	margin-top:50px;
	ul.servicios-nav{
		border-top:1px solid #CCC;
		li{
			float:left;
			padding-left: 0;
			width:20%;
			position: relative;
			padding-right: 10px;
			padding-top:15px;
			padding-bottom:10px;
			padding-left:10px;

			&:nth-child(1){

				@extend %primeros-items;
			}
			&:nth-child(2){
				@extend %primeros-items;
				div{
					border-left:1px solid $allo;
					border-right: 1px solid $allo;
				}
			}
			&:nth-child(3){
				@extend %primeros-items;
			}

			a{
				font-size: 14px;
				color: #1A1A1A;
				text-transform: uppercase;
				float: left;
				font-weight: bold;
				line-height: 15px;

				&:hover{
					text-decoration: none;
					color: $allo;
				}
			}

			&:before{
				content:"";
				display: block;
				width: 30px;
			    border-bottom: 1px solid $allo;
			    position: absolute;
			    bottom: 0;
			    left: 27px;
			}

			span{
				font-size: 12px;
				float: left;
				clear: left;
			}
		}
	}
}

.page-template-page-servicios-total .contenido-page p{
	padding-left:10px;
	font-size:17px;
}

%primeros-items {
  width: 33%;
  padding:0;
  border-bottom:1px solid #CCC;
  display: block;
  height: 130px;
  display: flex;
  padding-bottom: 15px;
  line-height: 20px;
  &:hover{
  	background: $allo;

  	span{
  		color: #FFF;
  	}

}

  	div{
		display: inline-block;
		align-self: flex-end;
		padding-left: 10px;
	}	

	a{
		font-size:16px;
		color: #686868;
		line-height: 22px;
		strong{
			font-size:22px;
			text-transform: uppercase;
			color: #000;
			display: block;
		}

		&:hover{
			text-decoration: none;

		}
	}

	span{
		color: $allo;
		font-size:12px;
		float: left;
	}

	&:before{
		content:"";
		display: none;
	}

}

.page-todos-los-servicios .content h3{
	margin-bottom:0;
}


@media only screen and (max-width: 560px) {
	.servicios-navbar{
		ul.servicios-nav{
			border-top:1px solid #CCC;
			padding-top:10px;
			li{
				width: 100%;
				height: auto;
				margin-top:10px;
				a{
					font-size:16px;
					float: left;
				}
				span{
					clear: left;
					font-size: 12px;
				}

				br{
					display: none;
				}


			}
		}
	}

	%primeros-items {
		width: 100%;
		height: auto;
		margin-top:10px;
		padding-bottom:10px;
		div{
			border-left:none;
			border-right: none;
		}	

		span{
			font-size:14px;
		}

	}
}